/*  =========================================
    =========================================

    Project: FreeCodeCamp.Org

    Notes: Technical Documentation Project


    Colour Palette:
    ---------------
    #66fcf1 = Teal Shade
    #c5c6c7 = Light Gray Shade
    #0b0c10 = Black Shade

    =========================================
    =========================================  */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  color: #c5c6c7;
  background-color: #0b0c10;
  text-align: center;
}

/*========================================================================/
============================== HEADER STYLING ============================
/========================================================================*/

.topic {
  background-color: #0b0c10;
  width: 100%;
  text-transform: capitalize;
}

.theme {
  padding: 2rem 0;
}

/*========================================================================/
=============================== NAV STYLING ==============================
/========================================================================*/

#navbar {
  background-color: #66fcf1;
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}

#navbar li {
  padding: 1rem 1rem;
}

#navbar li a {
  text-decoration: none;
  color: #0b0c10;
  font-weight: bold;
  font-size: 1.2rem;
}

/*========================================================================/
=============================== MAIN STYLING =============================
/========================================================================*/

#main-doc {
  margin: 1rem 0;
  padding: 0 2rem;
}

.main-section {
  padding: 3rem 2rem;
  font-size: 1.5rem;
  text-align: justify;
  text-indent: 0.5rem;
  line-height: 2rem;
}
.main-section p {
  margin: 0.7rem 0;
}

/*========================================================================/
============================== SECTION STYLING ===========================
/========================================================================*/

#basic-structure,
#DTD,
#html-element,
#head-element,
#body-element {
  margin: 1rem 0;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

/*========================================================================/
============================== FOOTER STYLING ============================
/========================================================================*/
