/*  =========================================
    =========================================

    Project: FreeCodeCamp.Org

    Notes: Technical Documentation Project


    Colour Palette:
    ---------------
    Blue example: rgb(38, 38, 159)
    Green example: rgb(99, 240, 99)  

    =========================================
    =========================================  */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /*display: flex;
  justify-content: space-evenly;
  align-items: center;*/
}

/*========================================================================/
============================== HEADER STYLING ============================
/========================================================================*/

.topic {
  padding: 1rem 3rem;
}

/*========================================================================/
=============================== NAV STYLING ==============================
/========================================================================*/

#navbar {
  background-color: aqua;
  display: grid;
  gap: 0.5rem;
  padding: 1rem 2rem;
}

#navbar li {
  list-style-type: none;
}

#navbar li a {
  text-decoration: none;
  color: black;
}

/*========================================================================/
=============================== MAIN STYLING =============================
/========================================================================*/

#main-doc {
  padding: 1rem 2rem;
}

.main-section {
  padding: 3rem;
  font-size: 1.5rem;
}

/*========================================================================/
============================== SECTION STYLING ===========================
/========================================================================*/

/*========================================================================/
============================== FOOTER STYLING ============================
/========================================================================*/
