/* ==========================================
   ==========================================

    Project: FreeCodeCamp.Org

    Notes: Technical Documentation Project


    Colour Palette:
    ---------------
    #66fcf1 = Teal Shade
    #c5c6c7 = Light Gray Shade
    #0b0c10 = Black Shade
    #ee125c = Red Shade

  ==========================================
  ==========================================  */

  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%; /*Equivalent to 10px*/
  }
  
  body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Barlow", sans-serif;
    color: #c5c6c7;
    text-align: center;
  }
  
  .topic,
  body {
    background-color: #0b0c10;
  }
  
  /*========================================================================/
  ============================== HEADER STYLING ============================
  /========================================================================*/
  
  /*.topic {
    width: 100%;
    text-transform: uppercase;
    position: -webkit-sticky;
    position: sticky;
    top: 0;*/
  }
  
  .theme {
    padding: 2rem 0;
  }
  
  /*========================================================================/
  =============================== NAV STYLING ==============================
  /========================================================================*/
  
  #navbar {
    background-color: #66fcf1;
    display: flex;
    justify-content: space-evenly;
  }
  
  li {
    list-style-type: none;
  }
  
  #navbar li {
    padding: 0.5rem 0;
  }
  
  #navbar li a:link,
  #navbar li a:visited {
    text-decoration: none;
    color: #0b0c10;
    padding: 0 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  #navbar li a:hover {
    color: #ee125c;
  }
  
  /*========================================================================/
  =============================== MAIN STYLING =============================
  /========================================================================*/
  
  #main-doc {
    margin: 2rem 0;
    padding: 0 2rem;
  }
  
  .main-section {
    padding: 3rem 2rem;
    font-size: 1.5rem;
    text-indent: 0.8rem;
    line-height: 2rem;
    border-bottom: 0.1rem solid #c5c6c7;
  }
  
  .main-section p {
    margin: 0.7rem 0;
    text-align: justify;
  }
  
  /*========================================================================/
  ============================== SECTION STYLING ===========================
  /========================================================================*/
  
  #Basic_structure,
  #DTD,
  #HTML_element,
  #Head_element,
  #Body_element {
    margin: 1rem 0;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .examples {
    margin: 2rem 0;
    background-color: #66fcf1;
    color: #0b0c10;
    font-weight: bolder;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
  
  /*========================================================================/
  ============================== FOOTER STYLING ============================
  /========================================================================*/
  
  .foot {
    margin: 3rem 0;
    font-size: 1.5rem;
  }
  
  /*========================================================================/
  ===================== MEDIA QUERY / MIN-WIDTH 460 PX =====================
  /========================================================================*/
  
  @media screen and (min-width: 460px) {
    #navbar li {
      padding: 1rem 0;
    }
  }
  
  /*========================================================================/
  ===================== MEDIA QUERY / MIN-WIDTH 600 PX =====================
  /========================================================================*/
  
  @media screen and (min-width: 600px) {
    #navbar li a:link,
    #navbar li a:visited {
      font-size: 1.5rem;
    }
  
    #navbar li a:hover {
      font-size: 2rem;
    }
  }
  
  /*========================================================================/
  ===================== MEDIA QUERY / MIN-WIDTH 1100 PX ====================
  /========================================================================*/
  
  @media screen and (min-width: 1100px) {
    .media-q {
      display: flex;
    }
  
    #navbar,
    .topic {
      display: flex;
      flex-direction: column;
    }
  
    .topic {
      border-right: 0.1rem solid #c5c6c7;
      height: 100vh;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      left: 0;
    }
  
    .theme {
      padding: 3rem 0;
      font-size: 3rem;
    }
  
    #navbar li {
      padding: 3rem 0;
      border-bottom: 0.1rem solid #0b0c10;
    }
  
    #navbar li a {
      font-weight: bolder;
    }
  
    #navbar li a:link,
    #navbar li a:visited {
      font-size: 2.5rem;
    }
  
    .foot {
      background-color: #66fcf1;
      margin: 0;
      padding: 3rem 0;
      color: #0b0c10;
      font-size: 2rem;
      font-weight: bold;
    }
  }
  
  /*========================================================================/
  ===================== MEDIA QUERY / MIN-WIDTH 1200 PX ====================
  /========================================================================*/
  
  @media screen and (min-width: 1200px) {
    .main-section {
      font-size: 2rem;
      line-height: 3;
    }
  }
  
  /*========================================================================/
  ===================== MEDIA QUERY / MIN-WIDTH 1500 PX ====================
  /========================================================================*/
  
  @media screen and (min-width: 1500px) {
    .main-section {
      padding: 0 4rem;
      width: 80vw;
    }
  
    #basic_structure,
    #DTD,
    #html_element,
    #head_element,
    #body_element {
      font-size: 3rem;
      font-weight: bold;
    }
  }
  
  /*========================================================================/
  ==========================================================================
  /========================================================================*/