/*  =========================================
    =========================================

    Project: FreeCodeCamp.Org

    Notes: Technical Documentation Project


    Colour Palette:
    ---------------
    Blue example: rgb(38, 38, 159)
    Green example: rgb(99, 240, 99)  

    =========================================
    =========================================  */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /*Equivalent to 10px*/
}

body {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*========================================================================/
============================== HEADER STYLING ============================
/========================================================================*/

/*========================================================================/
================================ NAV STYLING =============================
/========================================================================*/

/*========================================================================/
=============================== MAIN STYLING =============================
/========================================================================*/

/*========================================================================/
============================= SECTION STYLING ============================
/========================================================================*/

/*========================================================================/
============================= FOOTER STYLING =============================
/========================================================================*/
